<app-ciclo-readonly-banner />

<div class="topo">
  <h1>Indicadores e metas</h1>
</div>

<mat-tab-group>
  <mat-tab label="Indicadores do ciclo">
    <ng-template matTabContent>
      <app-indicadores-ciclo-tab />
    </ng-template>
  </mat-tab>

  <mat-tab label="Metas do ciclo">
    <ng-template matTabContent>
      <app-metas-ciclo-tab />
    </ng-template>
  </mat-tab>

  <mat-tab label="Painel">
    <ng-template matTabContent>
      <app-painel-tab />
    </ng-template>
  </mat-tab>
</mat-tab-group>
