<div class="topo">
  <h1>Metodologia</h1>
  @if (alvoRes.value(); as alvo) {
    <button
      mat-flat-button
      color="primary"
      (click)="materializar()"
      [disabled]="materializando()"
    >
      <mat-icon>autorenew</mat-icon>
      Publicar metodologia para o ciclo de planejamento: {{ alvo.nome }}
    </button>
  } @else {
    <button mat-flat-button color="primary" disabled matTooltip="Abra um ciclo para puvlicar">
      <mat-icon>autorenew</mat-icon>
      Publicar metodologia para o ciclo de planejamento
    </button>
  }
</div>

<p class="intro">
  A metodologia é a base reutilizável dos ciclos. Complementos de um ciclo são adicionados no
  Planejamento (atividades) e em Indicadores e metas (indicadores).
</p>

@if (materializando()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
@if (feedback()) {
  <p class="feedback">{{ feedback() }}</p>
}
@if (erro()) {
  <p class="feedback erro">{{ erro() }}</p>
}

<mat-tab-group>
  <mat-tab label="Processos e Práticas">
    <ng-template matTabContent>
      <app-processos-tab />
    </ng-template>
  </mat-tab>

  <mat-tab label="Indicadores">
    <ng-template matTabContent>
      <app-indicadores-tab />
    </ng-template>
  </mat-tab>
</mat-tab-group>
